  <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Pilotari de Gujan-Mestras{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('plugins/full_calendar/fullcalendar.min.css') }}"/>
    <link href="{{ asset('css/app.css') }}" rel="stylesheet" />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<div id="header">
    <img id="img_mur" src="../img/logo.jpg">
</div>
<<<<<<< HEAD
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li id="navBar" class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Accueil</a> fff
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('competition') }}">Compétition</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('sponsor') }}">Sponsor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('newsletter') }}">Newsletter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('inscription') }}">Inscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contacter') }}">Nous Contacter</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
=======

{% include 'navbar.html.twig' %}

<div class="container" id="body-container">
>>>>>>> master
    {% block body %}{% endblock %}
</div>

<div class="footer">
    {% block footer %}

        <!-- Footer -->
        <footer class="page-footer font-small blue pt-4">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3 mt-md-0 mt-2">

                        <!-- Content -->
                        <h5 class="text-uppercase">Adresse :</h5>
                        <p>60 Allée Edouard Branly</p><p>33470 Gujan-Mestras</p>
                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <!-- Grid column -->
                    <div class="col-md-4 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Nous contacter avec :</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="https://www.facebook.com/Pilotari.Gujanais/"><img id="img_fb" src="../img/Facebook-02.png"></a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">MAil : florian.borie@ynov.com</h5>

                        <ul class="list-unstyled">
                            <li>
                                <p>TEL : 05 56 66 79 92</p>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018 Copyright
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    {% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/fr.js"></script>
<script src="{{ asset('plugins/full_calendar/fullcalendar.min.js') }}"></script>
<script src="{{ asset('plugins/full_calendar/fr.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% block javascripts %}{% endblock %}

</body>
</html>
